apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "govd.fullname" . }}-config
  labels:
    {{- include "govd.labels" . | nindent 4 }}
data:
  # Database
  DB_HOST: {{ include "govd.databaseHost" . | quote }}
  DB_PORT: {{ include "govd.databasePort" . | quote }}
  DB_NAME: {{ include "govd.databaseName" . | quote }}
  DB_USER: {{ include "govd.databaseUsername" . | quote }}
  # Telegram
  BOT_API_URL: {{ .Values.bot.apiUrl | quote }}
  CONCURRENT_UPDATES: {{ .Values.bot.concurrentUpdates | quote }}
  # Media & Files
  DOWNLOADS_DIR: {{ .Values.media.downloadsDir | quote }}
  MAX_DURATION: {{ .Values.media.maxDuration | quote }}
  MAX_FILE_SIZE: {{ .Values.media.maxFileSizeMB | quote }}
  CACHING: {{ .Values.media.caching | quote }}
  # Default group settings
  DEFAULT_ENABLE_CAPTIONS: {{ .Values.defaults.enableCaptions | quote }}
  DEFAULT_ENABLE_SILENT: {{ .Values.defaults.enableSilent | quote }}
  DEFAULT_ENABLE_NSFW: {{ .Values.defaults.enableNsfw | quote }}
  DEFAULT_MEDIA_ALBUM_LIMIT: {{ .Values.defaults.mediaAlbumLimit | quote }}
  DEFAULT_LANGUAGE: {{ .Values.defaults.language | quote }}
  # Other
  REPO_URL: {{ .Values.settings.repoUrl | quote }}
  LOG_LEVEL: {{ .Values.settings.logLevel | quote }}
  AUTOMATIC_LANGUAGE_DETECTION: {{ .Values.settings.automaticLanguageDetection | quote }}
  {{- if .Values.settings.whitelist }}
  WHITELIST: {{ .Values.settings.whitelist | quote }}
  {{- end }}
  {{- if .Values.settings.admins }}
  ADMINS: {{ .Values.settings.admins | quote }}
  {{- end }}
  CAPTIONS_HEADER: {{ .Values.settings.captionsHeader | quote }}
  CAPTIONS_DESCRIPTION: {{ .Values.settings.captionsDescription | quote }}
